<li>
    <p>
        
        <small class="comment-user">
            <a href="/users/profile/<%= comment.user.id%>">
                <%= comment.user.name%>
            </a>
        </small>
        <br>
        <%= comment.content %>
        <% if (locals.user && locals.user.id == comment.user.id){%>
            <small class="delete-small">
               <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a> 
            </small>
        <%} %>
    </p>
</li>