<header id="header">
    <div>Codeial</div>
    <ul id="header-li">
        <% if(locals.user) {%>
            <li><i class="fas fa-user"></i> <%=user.name%></li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>

        <% }else{%>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
            
        <%}%>
    </ul>
</header>