<h1>Sign Up</h1>
<form action="post">
    <div style="margin-bottom: 20px;">
        <label for="name">Name : </label>
        <input type="text" placeholder="Enter your name">
    </div>
    <label for="username">Username : </label>
    <input id="usename" type="text" placeholder="Enter your username or email id">
    <label for="password">Password : </label>
    <input id="password" type="password" placeholder="Enter your password">
    <button type="submit">Sign Up</button>
</form>