<h1>Sign In</h1>
<form action="post">
    <label for="username">Username : </label>
    <input id="usename" type="text" placeholder="Enter your username or email id">
    <label for="password">Password : </label>
    <input is="password" type="password" placeholder="Enter your password">
    <button type="submit">Sign in</button>
</form>